body {
    background: #DDD;
    font-family: sans-serif;
}

th {
    border: 1px solid black;
    font-style: normal;
}

td {
    border: 1px solid black;
    margin: 4px;
    padding: 4px;
}

nav ul li {
    list-style-type: none;
    display:inline;
    font-style: normal;
    padding-right: 8px;
}

nav a {
    color: rgb(240, 46, 46);
}

nav {
    background: #333;
    padding: 2px;
}

div {
    background: #999;
    margin: 4px;
    border: 2px solid black;
    padding: 2px;
    padding-left: 8px;
}